@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*, *::before, *::after{
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  transition:all .2s linear;
}

body {
  width:100vw;
  height:100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#FBEAEB;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg{
  position:absolute;
  z-index:-1;
  width:100vw;
  height:100vh;
  object-fit:cover;
  opacity:0.2;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.rubik {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.shadow-1{
  box-shadow:0 0 20px rgba(0, 0, 0, 0.6);
}

.shadow-2{
  box-shadow:0 0 20px rgba(0, 0, 0, 0.2);
}

.shadow-3{
  box-shadow:0 0 20px rgba(0, 0, 0, 0.1);
}